# Ignore test folders and configs
__tests__/
*.test.*
*.spec.*
jest.config.*
vite.config.*

# Ignore development configs
tsconfig.json
tsconfig.*.json
pack.config.js
*.log

# Ignore sources and temporary folders
src/
packed/
node_modules/

# Ignore meta files
README.md
.npmignore
.gitignore

# Ignore docs
docs/